<a (click)="goBack()" class="back-btn">
  <i class="fa fa-arrow-left"></i> Back
</a>
<div class="container">
  <div class="toggle-container">
    <button
      type="button"
      [class.active]="!showPasswordFields"
      (click)="showPasswordFields = false"
    >
      Edit Profile
    </button>
    <button
      type="button"
      [class.active]="showPasswordFields"
      (click)="showPasswordFields = true" *ngIf="user?.role != 'admin'"
    >
      Change Password
    </button>
  </div>

  <div class="box">
    <h4 class="top-content">Edit Here</h4>
    <form
      class="forms"
      #editForm="ngForm"
      (ngSubmit)="
        showPasswordFields ? updatePassword(editForm) : editform(editForm)
      "
    >
      <div class="cred" *ngIf="!showPasswordFields; else pass">
        <div class="profile-img-container" (click)="fileInput.click()">
          <img
            [src]="imageURL"
            alt="Profile"
            class="profile-img"
            *ngIf="imageURL; else noImg"
          />
          <ng-template #noImg>
            <div class="placeholder-icon"><i class="fa fa-user"></i></div>
          </ng-template>
        </div>

        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          style="display: none"
          accept="image/*"
        />

        <label for="firstname">Firstname</label>
        <input
          type="text"
          name="firstname"
          [(ngModel)]="firstname"
          placeholder="Firstname"
        />

        <label for="lastname">Lastname</label>
        <input
          type="text"
          name="lastname"
          [(ngModel)]="lastname"
          placeholder="Lastname"
        />

        <label for="email">Email</label>
        <input
          type="email"
          [formControl]="emailControl"
          placeholder="email"
          id="email"
          pattern="^(.+)@\1\.[a-zA-Z]{2,}$"
        />

        <div style="color: red; font-size: 12px; margin-top: 5px">
          @if (emailExsitsError) {
            <span>Email already exists in our database.</span>
          }

          @if ((emailControl.hasError("required") || emailControl.hasError("pattern")) && emailControl.touched) {
            <span>Email is required.</span>
          }

          @if (emailControl.hasError("email") && emailControl.touched) {
            <span>Invalid format: Should be (exmp&#x40;ex.com)</span>
          }
        </div>

        <div class="admin" *ngIf="user">
          <label for="makeadmin" *ngIf="user?.id != loggedUser"
            >Make Admin</label
          >
          <input
            type="checkbox"
            name="role"
            [checked]="user?.role === 'admin'"
            (change)="updateUserRole($event, user?.id)"
            *ngIf="user?.id != loggedUser"
            value="Make Admin"
          />
        </div>
      </div>

      <ng-template #pass>
        <div class="cred">
          <label for="currentpassword">Current Password</label>
          <input
            type="password"
            name="currentpassword"
            ngModel
            #currPass="ngModel"
            required
          />
          @if (currPass.invalid && currPass.touched) {
            <small style="color: red">Current password is required.</small>
          }

          <label for="newpassword">New Password</label>
          <input
            type="password"
            name="newpassword"
            ngModel
            #newPass="ngModel"
            required
            minlength="8"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*]).*"
          />
          <div style="color: red; font-size: 12px">
            @if (newPass.errors?.["required"] && newPass.touched) {
              <span>New password is required.</span>
            }
            @if (newPass.errors?.["minlength"] && newPass.touched) {
              <span>Min 8 characters.</span>
            }
            @if (newPass.errors?.["pattern"] && newPass.touched) {
              <span>Must have: A-Z, a-z, 0-9, and symbol.</span>
            }
          </div>

          <label for="confirmpassword">Confirm Password</label>
          <input
            type="password"
            name="confirmpassword"
            ngModel
            #confirmPass="ngModel"
            required
          />
          <div style="color: red; font-size: 12px">
            @if (confirmPass.touched && confirmPass.value !== newPass.value) {
              <span>Passwords do not match.</span>
            }
          </div>
        </div>
      </ng-template>

      <button type="submit" [disabled]="editForm.invalid">Save Changes</button>
    </form>
  </div>
</div>
