.container{
    background-color: grey;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.foot-head{
    margin-left: 200px;
    margin-top: 50px;
}

.foot-cont{
    margin-left: 170px;
    margin-top: 50px;
    width : 250px;
}

.left{
    display: flex;
    flex-direction: column;
}

.icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    color: white;
}

.icons i:hover{
    color: black;
    transform: scale(1.2);
}

.right{
    margin : 10px;
    margin-right: 200px;
    margin-top: 70px;
    padding: 5px;
    display: flex;
}



li.heading{
    font-size: large;
    font-weight: bold;
}

li{
    list-style: none;
    padding: 2px;
}

.bottom{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

li:hover{
  cursor: pointer;
  color: white;
  transform: translateX(5px);
  transition: 0.3s;
}