<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <h3 class="foot-logo">MyCompany</h3>
      <p class="foot-cont">
        We as a team try our best to let people follow the right track and never
        miss the opportunity to be consistent towards their work because...
        <br />
        <q>Work is worship</q>
      </p>
      <div class="social-icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>

    <div class="footer-right">
      <ul class="footer-links">
        <li class="heading">Features</li>
        <li>Create Tasks</li>
        <li>Set Deadlines</li>
        <li>Mark as Completed</li>
        <li>Organize Tasks</li>
      </ul>

      <ul class="footer-links">
        <li class="heading">Support</li>
        <li>About Us</li>
        <li>Contact</li>
        <li>Privacy Policy</li>
        <li>Help Center</li>
      </ul>
    </div>
  </div>
  <div class="bottom-bar">
    <p>Made with Grace © Copyright | RD Mishra</p>
  </div>
</footer>