<div class="container">
  <div class="left">
    <div class="icons">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-whatsapp"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <h3 class="foot-head">MyCompany</h3>
    <div class="foot-cont">
      We as a team try our best to let people follow the right track and never
      miss the opportunity to be consistent towards there work because ---
      <br />
      <q>work is worship</q>
    </div>
  </div>
  <div class="right">
    <ul class="left-li">
      <li class="heading">Features</li>
      <li>Create Tasks</li>
      <li>Set Deadlines</li>
      <li>Mark as Completed</li>
      <li>Organize Tasks</li>
    </ul>

    <ul class="right-li">
      <li class="heading">Support</li>
      <li>About Us</li>
      <li>Contact</li>
      <li>Privacy Policy</li>
      <li>Help Center</li>
    </ul>
  </div>
</div>
<div class="bottom">
  <p>Made with Grace © Copyright | RD Mishra</p>
</div>
