<div class="navbar">
  CARS World &nbsp;<sub><i>Chase Your Dream</i></sub>

  
  <div class="profile-section"
  (mouseenter)="hoverService.setHover(true)" 
  (mouseleave)="hoverService.setHover(false)">
  <div class="auth" *ngIf="checkUser()">
    <button class="addBrand" (click) = "addBrand()">Add Brand</button>
  </div>
  
  <button class="logout" (click) = "addCar()">Add Car</button>
  <button class="logout" (click) = "logOut()">LogOut</button>
    
    <a routerLink="/profile">
      <img *ngIf="imageURL; else icons" [src]="imageURL" alt="Profile">
      <ng-template #icons>
        <i class="fa fa-fw fa-user profile-icon"></i>
      </ng-template>
    </a>

    @if (hoverService.isHovered()) {
      <div class="hover-modal-nav">
        <div class="modal-content">
          <p><strong>{{name}}</strong></p>
          <p class="small-text">{{email}}</p>
          <hr>
          <p>📸 Last Active: 2 mins ago</p>
          <p>📍 Location: Jungle</p>
        </div>
      </div>
    }
  </div>
</div>