<div class="container">
  <div class="box">
    <h4 class="top-content">Login Here</h4>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="cred">
        <h5>Email Id</h5>
        <input
          type="email"
          name="email"
          required
          email
          placeholder="email"
          [(ngModel)]="email"
          #emailRef="ngModel"
        />

        <div style="color: red; font-size: 12px; margin-top: 5px">
          @if (emailRef.errors?.["required"] && emailRef.touched) {
            <span>Email is required.</span>
          }
          @if (
            (emailRef.errors?.["email"] || emailRef.errors?.["pattern"]) &&
            emailRef.touched
          ) {
            <span>Invalid format: Should be (exmp&#x40;ex.com)</span>
          }
        </div>

        <h5>Password</h5>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          required="true"
          #passRef="ngModel"
          required
          minlength="8"
          placeholder="password"
        />
        @if (passRef.errors?.["required"] && passRef.touched) {
          <span style="color: red; font-size: 12px; margin-top: 5px">Password is required.</span>
        }
    
        
      </div>
      <button type="submit" (click)="disableButton()">Login</button>
    </form>

    <h6><a routerLink="/mailtoreset">Forgot Password?</a></h6>

    <h6>
      Don't have an account? &nbsp; <a routerLink="/register">Register here</a>
    </h6>
  </div>
</div>
