<button class="btn-back" (click)="goBack()">Back</button>
<div class="chat-container">
  <!-- Header -->
  <div class="chat-header">
    <h3>Chat</h3>
  </div>

  <!-- Messages -->
  <div class="chat-messages">

  <ng-container *ngFor="let msg of messages; let i = index">

    <!-- Date Separator -->
   
     <div *ngIf="i === 0 || isDifferentDate(msg, messages[i - 1])" class="date-separator">
      <span>{{ getDayLabel(msg.created_at) }}</span>
    </div>
    <!-- Message -->
    <div 
      class="message"
      [ngClass]="{
        'my-message': msg.sender_id == currentUserId,
        'other-message': msg.sender_id != currentUserId
      }"
    >
      <div class="message-text">
        {{ msg.message }}
      </div>

      <div class="message-time" *ngIf="msg.created_at; else no">
        {{ msg.created_at | date:'shortTime' }}
      </div>

      <ng-template #no>
        <div class="message-time">
          {{ currentTime | date:'shortTime' }}
        </div>
      </ng-template>
      
      
    </div>
    
  </ng-container>

</div>
<div class="chat-input"> <input type="text" [(ngModel)]="messageText" placeholder="Type a message..." (keydown.enter)="sendMessage()" /> <button (click)="sendMessage()" >Send</button> </div>
</div>
