<app-navbar></app-navbar>

<div class="admin-page-wrapper">
  <a (click)="goBack()" class="back-btn">
    <span class="icon">←</span>
    <span class="label">Back</span>
  </a>

  <div class="glass-form-card">
    <h1 class="main-title">Add New Car</h1>
    <p class="subtitle">Expand the luxury collection</p>

    <form
      #brandform="ngForm"
      (ngSubmit)="onSubmit(brandform)"
      *ngIf="availableBrands.length > 0; else noBrand"
      class="premium-form"
      novalidate
    >
      <div class="input-group">
        <label for="logo">Car Photo</label>
        <div
          class="drag-drop"
          [class.drag-over]="isDragging"
          [class.invalid-border]="
            brandform.submitted && selectedFile.length === 0
          "
          (dragover)="onDragOver($event)"
          (dragleave)="onDragLeave($event)"
          (drop)="onDrop($event)"
          (click)="fileInput.click()"
        >
          <span *ngIf="!selectedFileName">Drag & Drop or Click to Upload</span>
          <span *ngIf="selectedFileName">Selected: {{ selectedFileName }}</span>
        </div>

        <span
          class="error-text"
          *ngIf="brandform.submitted && selectedFile.length === 0"
        >
          At least one image is required.
        </span>

        <div class="preview-container" *ngIf="previews.length > 0">
          <div *ngFor="let url of previews; let i = index" class="preview-card">
            <img [src]="url" alt="Car preview" />
            <button type="button" class="remove-img" (click)="removeImage(i)">
              ×
            </button>
          </div>
        </div>

        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          id="image"
          name="image"
          accept=".png,.jpg,.jpeg"
          style="display: none"
          multiple
        />
      </div>

      <div class="input-group">
        <label for="brandName">Brand Name</label>
        <select
          name="brandName"
          [(ngModel)]="car_detail.brandName"
          id="brandName"
          required
          #brandName="ngModel"
        >
          <option value="" disabled selected>Select a brand</option>
          <option
            *ngFor="let brand of availableBrands"
            [value]="brand.brand_name"
          >
            {{ brand.brand_name }}
          </option>
        </select>
        <span
          class="error-text"
          *ngIf="
            brandName.invalid && (brandName.touched || brandform.submitted)
          "
        >
          Please select a brand.
        </span>
      </div>

      <div class="input-group" *ngIf="role == 'user'">
        <label>Request Brand</label>
        <button
          type="button"
          (click)="requestBrand()"
          class="submit-btn"
          style="font-size: 12px"
        >
          Request
        </button>
      </div>

      <div class="modal-overlay" *ngIf="showRequestModal">
        <div class="modal-content">
          <button type="button" (click)="closeModal()">×</button>

          <h2>Request a Brand</h2>

          <form #requestForm="ngForm" (ngSubmit)="onSubmitRequest(requestForm)">
            <div class="input-group">
              <label for="logo">Brand Logo / Photo</label>
              <div class="file-input-wrapper">
                <input
                  type="file"
                  #fileInput
                  (change)="fileForRequest($event)"
                  name="logo"
                  id="logo"
                  accept="image/*"
                />
              </div>
            </div>

            <div class="input-group">
              <label for="brandName">Official Name</label>
              <input
                type="text"
                name="brandName"
                ngModel
                id="brandName"
                placeholder="e.g. Aston Martin"
              />
            </div>

            <button type="submit" class="submit-btn">
              <span>Save Brand</span>
            </button>
          </form>
        </div>
      </div>

      <div class="input-group">
        <label for="modelName">Model Name</label>
        <input
          type="text"
          name="modelName"
          ngModel
          id="modelName"
          [(ngModel)]="car_detail.modelName"
          required
          #modelName="ngModel"
          placeholder="e.g. Martin"
        />
        <span
          class="error-text"
          *ngIf="
            modelName.invalid && (modelName.touched || brandform.submitted)
          "
        >
          Model Name is required.
        </span>
      </div>

      <div class="custom-multiselect input-group" *ngIf="role == 'admin'">
        <div class="select-box" (click)="toggleDropdown()">
          <span>{{
            selectedUsers.length > 0 ? selectedUsers.join(", ") : "Select Users"
          }}</span>
        </div>
        <div class="dropdown-content" *ngIf="isOpen">
          <label *ngFor="let user of users">
            <input
              *ngIf="user.role != 'admin'"
              type="checkbox"
              [checked]="selectedUsers.includes(user.id)"
              (change)="onCheckboxChange($event, user.id)"
            />
            <span *ngIf="user.role != 'admin'"> {{ user.firstname }} </span>
            
          </label>
        </div>
      </div>

      <div class="input-group">
        <label for="category">Category</label>
        <select
          name="category"
          [(ngModel)]="car_detail.category"
          id="category"
          ngModel
          required
          #category="ngModel"
        >
          <option value="" disabled selected>Select Category</option>
          <option value="Sports">Sports</option>
          <option value="SUV">SUV</option>
          <option value="Electric">Electric</option>
          <option value="Luxury">Luxury</option>
          <option value="Classic">Classic</option>
        </select>
        <span
          class="error-text"
          *ngIf="category.invalid && (category.touched || brandform.submitted)"
        >
          Category is required.
        </span>
      </div>

      <div class="input-group">
        <label for="engineType">Engine Type</label>
        <input
          type="text"
          name="engineType"
          [(ngModel)]="car_detail.engineType"
          ngModel
          id="EngineType"
          required
          #engineType="ngModel"
          placeholder="e.g. V8 Biturbo"
        />
        <span
          class="error-text"
          *ngIf="
            engineType.invalid && (engineType.touched || brandform.submitted)
          "
        >
          Engine type is required.
        </span>
      </div>

      <div class="input-group">
        <label for="horsePower">Horse Power</label>
        <input
          type="text"
          name="horsePower"
          [(ngModel)]="car_detail.horsePower"
          ngModel
          id="horsePower"
          required
          #horsePower="ngModel"
          placeholder="e.g. 500"
        />
        <span
          class="error-text"
          *ngIf="
            horsePower.invalid && (horsePower.touched || brandform.submitted)
          "
        >
          Horse power is required.
        </span>
      </div>

      <div class="input-group">
        <label for="torque">Torque (Nm)</label>
        <input
          type="text"
          name="torque"
          [(ngModel)]="car_detail.torque"
          ngModel
          id="torque"
          placeholder="e.g. 650"
        />
      </div>

      <div class="input-group">
        <label for="topSpeed">Top Speed</label>
        <input
          type="text"
          name="topSpeed"
          ngModel
          [(ngModel)]="car_detail.topSpeed"
          id="topSpeed"
          placeholder="e.g. 320kmph"
        />
      </div>

      <div class="input-group">
        <label for="price">Price ($)</label>
        <input
          type="text"
          name="price"
          ngModel
          [(ngModel)]="car_detail.price"
          id="price"
          placeholder="e.g. 250000"
        />
      </div>

      <div class="input-group">
        <label for="description">Description</label>
        <textarea
          maxlength="100"
          name="description"
          [(ngModel)]="car_detail.description"
          ngModel
          id="description"
          placeholder="Brief overview..."
        ></textarea>
      </div>

      <button
        type="submit"
        class="submit-btn"
        (click)="forAdd()"
        *ngIf="!editMode"
      >
        <span>Save Car</span>
      </button>
      <button
        type="submit"
        (click)="forEdit()"
        class="submit-btn"
        *ngIf="editMode"
      >
        <span>Edit Car</span>
      </button>
    </form>

    <ng-template #noBrand>
      <div class="empty-state">
        No Brands Available. Please add a brand first.
      </div>
    </ng-template>
  </div>
</div>

<app-footer></app-footer>
