<app-navbar></app-navbar>
<button (click)="goBack()" class="btn-back">Back</button>
<table>
<tbody>
  <!-- If data exists -->
  <ng-container *ngIf="carList && carList.length > 0; else noCars">
    <tr *ngFor="let car of carList">
      
      <!-- Car -->
      <td class="car-info" data-label="Image">
        <img
          *ngIf="car.car_logo?.length"
          [src]="car.car_logo[0]"
          alt="car"
          class="car-img"
        />
        <div>
          <h4>{{ car.model_name }}</h4>
        </div>
      </td>

      <td data-label="Brand">{{ car.brand_name }}</td>

      <td data-label="Category">
        <span class="category-badge">{{ car.category }}</span>
      </td>

      <td data-label="Engine">{{ car.engine_type }}</td>

      <td data-label="Performance">
        <p>HP: {{ car.horsepower }}</p>
        <p>Torque: {{ car.torque }}</p>
        <p>Speed: {{ car.top_speed }} km/h</p>
      </td>

      <td class="owner" data-label="Owner">
        {{ car.firstname }}
      </td>

      <td class="price" data-label="Base Price">
        $ {{ car.base_price }}
      </td>

      <td *ngIf="currentUserId != car.id">
        <button style="font-size: large;" (click)="goToChats(car)">
          <i class="fas fa-comments" style="color: rgb(255, 212, 59);"></i>
        </button>
      </td>

    </tr>
  </ng-container>

  <!-- Empty state -->
  <ng-template #noCars>
    <tr>
      <td colspan="8" class="no-data">
        No bids available.
      </td>
    </tr>
  </ng-template>
</tbody>
</table>
<app-footer></app-footer>