<a routerLink="/home" class="back-btn">
  <i class="fa fa-arrow-left"></i> Back
</a>

<div class="profile-page-wrapper">
  <div class="profile-card">
    <div class="card-header"></div>

    <div class="card-body">
      <div class="image-container">
        <img
          src="https://media.newyorker.com/photos/59095bb86552fa0be682d9d0/master/pass/Monkey-Selfie.jpg"
          alt="Profile Image"
        />
      </div>

      <h2 class="profile-name">ABC</h2>
      <p class="profile-email">abc&#64;example.com</p>

      <div class="info-section">
        <div class="info-row">
          <span class="label">Username</span>
          <span class="value">&#64;abc_monkey</span>
        </div>
        <div class="info-row">
          <span class="label">Status</span>
          <span class="val ue active">Active</span>
        </div>
      </div>

      <button class="edit-btn" routerLink = "/edit-profile">Edit Profile</button>
    </div>
  </div>
</div>
