<app-navbar></app-navbar>

<main class="inventory-wrapper">
  <a (click)="goBack()" class="back-btn">
    <span class="icon">←</span>
    <span class="label">Back</span>
  </a>
  <section class="upper-section">
    <div class="intro-text">
      <span class="badge">The Vault</span>
      <h1>Discover Your <span class="gradient-text">Next Masterpiece</span></h1>
      <p>
        Filter through our curated selection of world-class automotive
        engineering.
      </p>
    </div>

    <div class="controls-container">
      <div class="search-bar">
        <input
          type="text"
          placeholder="Search by model, brand, or engine..."
          [(ngModel)]="searchText"
        />
      </div>

      <div class="filter-group">
        <p>Category</p>
        <select class="filter-select" [(ngModel)]="selectedCategory">
          <option value="none">Category: All</option>
          <option value="Sports">Sports</option>
          <option value="SUV">SUV</option>
          <option value="Electric">Electric</option>
          <option value="Luxury">Luxury</option>
        </select>
        <p>Engine Type</p>
        <select class="filter-select" [(ngModel)]="selectedEngine">
          <option value="none">Engine: All</option>
          <option value="v8">V8</option>
          <option value="v12">V12</option>
        </select>
      </div>
      <button (click)="filterCars()">Search</button>
      <button (click)="getAllCars()">Get All Cars</button>
    </div>
  </section>

  <section class="car-box" *ngIf="filteredCar.length > 0; else noData">
    <table class="car-table">
      <tr>
        <th>Click for more images</th>
        <th>Brand</th>
        <th>Model Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Engine</th>
        <th>Horsepower</th>
        <th>Torque</th>
        <th>Top Speed</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Sell</th>
      </tr>
      <tr *ngFor="let car of carList; trackBy: trackByCarId">
        <td data-label="Image">
          <img
            [src]="car.car_logo[0]"
            [alt]="car.model_name"
            class="car-image"
            (click)="getImages(car)"
          />
        </td>
        <td data-label="Brand">{{ brand_name }}</td>
        <td data-label="Model Name">{{car.model_name}}</td>
        <td data-label="Price">${{ car.price ? (car.price | number) : "0" }}</td>
        <td data-label="Category">{{ car.category }}</td>
        <td data-label="Engine">{{ car.engine_type }}</td>
        <td data-label="Horsepower">{{ car.horsepower }} HP</td>
        <td data-label="Torque">{{ car.torque }} Nm</td>
        <td data-label="Top Speed">{{ car.top_speed }} km/h</td>
        <td data-label="Description">{{ car.description }}</td>
        <td data-label="Edit">
          <button class="btn-view" (click)="editCar(car)">
            Edit
          </button>
        </td>
        <td data-label="Delete">
          <button class="btn-delete-trigger" (click)="confirmDelete(car)">
            Delete Car
          </button>
        </td>
        <td data-label="Bid" *ngIf="car.sold == 'false'">
          <button class="btn-delete-trigger" (click)="sellCar(car)">Sell Car</button>
        </td>
        <td data-label="Cancel Bid" *ngIf="car.sold == 'true'">
          <button class="btn-delete-trigger" (click)="toggleSell(car)">Cancel Sellling</button>
        </td>
      </tr>
    </table>



      <div class="delete-overlay" *ngIf="confirmCancelSell">
        <div class="delete-modal">
          <div class="delete-icon">⚠️</div>
          <h3>Confirm Your Cancellation</h3>

          
            <p>
            Are you sure you want to cancel the
            <strong>{{ selectedCar?.model_name }}</strong> selling? 
          </p>
            <button  type ="button" class="btn-cancel" style="margin-bottom: 4px;" (click)="cancelSelling()">Confirm</button>
          <div class="delete-actions">
            <button class="btn-cancel" (click)="toggleSell(null)">
              Cancel
            </button>
          </div>
        </div>
      </div>



    <div class="delete-overlay" *ngIf="confirmSellButton">
      <div class="delete-modal">
        <div class="delete-icon">⚠️</div>
        <h3>Confirm Your Selling</h3>

        <form #priceForm="ngForm"  (ngSubmit)="completeSell(priceForm)">
          <label for="basePrice">Base Price</label>
          <input type="number" name="basePrice" required ngModel id="basePrice">
          <p>
          Are you sure you want to Sell the
          <strong>{{ selectedCar?.model_name }}</strong> from the vault? 
        </p>
          <button  type ="submit" class="btn-cancel" style="margin-bottom: 4px;">Confirm Selling</button>
        </form>
        <div class="delete-actions">
          <button class="btn-cancel" (click)="cancelSell()">
            Cancel
          </button>
        </div>
      </div>
    </div>






    

    <div class="delete-overlay" *ngIf="confirmDeleteButton">
      <div class="delete-modal">
        <div class="delete-icon">⚠️</div>
        <h3>Confirm Deletion</h3>
        <p>
          Are you sure you want to remove the
          <strong>{{ selectedCar?.model_name }}</strong> from the vault? This action
          cannot be undone.
        </p>

        <div class="delete-actions">
          <button class="btn-cancel" (click)="cancelDelete()">
            Keep Car
          </button>
          <button class="btn-confirm" (click)="deleteCar()">
            Confirm Delete
          </button>
        </div>
      </div>
    </div>

    <div class="pagination">
      <button class="previous" (click)="decreasePage()">Previous</button>
      <span>{{currentPage}} of {{totalPages}}</span>
      <button class="next" (click)="increasePage()">Next</button>
    </div>
  </section>

  <ng-template #noData>
    <div class="empty-state">
      <p>No masterpiece found in this category.</p>
    </div>
  </ng-template>

  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content">
      <button (click)="backToAll()">Back</button>
      <h3>Images</h3>
      <div class="image-grid">
        <img *ngFor="let img of multiImage" [src]="img" alt="Car Image" />
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
