<div class="navbar">
  TODO APP &nbsp;<sub><i>Pending to do</i></sub>
  <div class="profile-section">
    <a href="/profile">
      <i class="fa fa-fw fa-user profile-icon"></i>
    </a>
  </div>
</div>
<h1 class="above-content">Get It Done</h1>
<div class="container">
  <div class="middle-box">
    <div class="cont-text">
      <i><pre>--- Lets have it ---</pre></i>
    </div>
    <div class="job">
      <h4 class="job-head">Enter the job to be completed</h4>
      <input class="get-job" type="text" placeholder="type here" />
      <button class="add-job">ADD</button>
    </div>
    <div class="completed">
      <h4 class="completed-head">Completed Tasks:-</h4>
      <hr style="border: 0; border-top: 2px dashed black" />
      <div class="wrapper">
        <table class="completed-task">
          <tr>
            <th>Tasks</th>
            <th>Timing</th>
            <th>Completed</th>
          </tr>
          <tr>
            <td>Morning Exercise</td>
            <td>7:00 AM</td>
            <td><input type="checkbox" /></td>
          </tr>
          <tr>
            <td>BreakFast</td>
            <td>8:30 AM</td>
            <td><input type="checkbox" /></td>
          </tr>

          <tr>
            <td>Reach Office</td>
            <td>9:30 AM</td>
            <td><input type="checkbox" /></td>
          </tr>

          <tr>
            <td>Lunch</td>
            <td>2:20 PM</td>
            <td><input type="checkbox" /></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="bottom-quote">
    <q>Never confuse movement with action. — Ernest Hemingway</q>
  </div>
</div>

<app-footer></app-footer>
