<app-navbar></app-navbar>
<h1 class="above-content">Get It Done</h1>
<div class="container">
  <div class="middle-box">
    <div class="cont-text">
      <i><pre>--- Lets have it ---</pre></i>
    </div>
    <div class="job">
      <h4 class="job-head">Enter the job to be completed</h4>
      <input class="get-job" type="text" placeholder="type here" [(ngModel)] = "newTask"/>
      <button class="add-job" (click)="add()">ADD</button>
    </div>
    <div class="completed">
      <h4 class="completed-head"> Task Details:-</h4>
      <hr style="border: 0; border-top: 2px dashed black" />
      <div class="wrapper">
        <table class="completed-task">
          <tr>
            <th>Tasks</th>
            <th>Completed</th>
          </tr>
          <tr *ngFor="let task of tasks">
            <td>{{task}}</td>
            <td><input type="checkbox"></td>
          </tr>
          
        </table>
      </div>
    </div>
  </div>
  <div class="bottom-quote">
    <q>Never confuse movement with action. — Ernest Hemingway</q>
  </div>
</div>

<app-footer></app-footer>
